<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
  <ul>
      <li><a href="/amenities">Amenities</a></li>
      <li><a href="/bookmarks">Bookmarks</a></li>
      <li><a href="/spot_offerings">Spot Offerings</a></li>
      <li><a href="/spot_types">Spot Types</a></li>
      <li><a href="/spots">Spots</a></li>
      <li><a href="/categories">Categories</a></li>
      <li><a href="/reviews">Reviews</a></li>
      <li><a href="/regions">Regions</a></li>
      

      <% if session[:user_id] == nil %>
        <li><a href="/user_sign_in">Sign In</a></li>
        <li><a href="/user_sign_up">Sign Up</a></li>
        <% else %>
          <li><a href="/user_sign_out">Sign Out</a></li>
      <% end %> 

    <%= yield %>
  </body>
</html>
